<div class="form_container">
  <div class="form_inner_container">
    <form [formGroup]="loginForm" (ngSubmit)="data(loginForm.value)">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input
          type="text"
          placeholder="Enter Your First Name"
          name="firstName"
          formControlName="firstName"
          class="form-control"
          id="firstName"
        />
        <div
          *ngIf="
            loginForm.get('firstName')?.invalid &&
            (loginForm.get('firstName')?.dirty ||
              loginForm.get('firstName')?.touched)
          "
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          <strong>Holy guacamole!</strong> You should check in on some of those
          fields below.
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input
          type="text"
          placeholder="Enter Your Last Name"
          name="lastName"
          formControlName="lastName"
          class="form-control"
          id="lastName"
        />
        <div
          *ngIf="
            loginForm.get('lastName')?.invalid &&
            (loginForm.get('lastName')?.dirty ||
              loginForm.get('lastName')?.touched)
          "
        >
          Please provide Last name.
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          placeholder="Enter Your Email"
          name="email"
          formControlName="email"
          class="form-control"
          id="email"
        />
        <div
          *ngIf="
            loginForm.get('email')?.invalid &&
            (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
          "
        >
          Please provide Valid email
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          placeholder="Enter Your Password"
          name="password"
          formControlName="password"
          class="form-control"
          id="exampleInputPassword1"
        />
        <div id="showPassword">
          <i
            *ngIf="show === false"
            (click)="iconShow()"
            class="fa fa-eye-slash fa-2x"
            aria-hidden="true"
          ></i>
          <i
            *ngIf="show === true"
            (click)="iconShow()"
            class="fa fa-solid fa-eye fa-2x"
          ></i>
        </div>
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          Please Enter Password : Minimum eight characters, at least one
          uppercase letter, one lowercase letter, one number and one special
          character:
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          placeholder="Enter your password"
          name="confirmPassword"
          formControlName="confirmPassword"
          class="form-control"
          id="confirmPassword"
        />
        <div
          *ngIf="
            loginForm.get('confirmPassword')?.invalid &&
            loginForm.get('confirmPassword')?.touched
          "
        >
          Please Enter Password : Minimum eight characters, at least one
          uppercase letter, one lowercase letter, one number and one special
          character:
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-dark">
        Submit
      </button>
    </form>
  </div>
</div>
